.featured-container {
  background-color: #000;
  color: #fff;
  padding: 0.9;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1rem;
  position: relative;
  flex: 2;
  height: fit-content;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.article-wrapper {
  * {
    margin: 0.6em 0;
  }
  padding: 0 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;

  .article-image {
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .source {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    position: relative;
    float: right;
  }
}
